ul.product-list {
    width: 80%;
    margin: 0 auto;
    list-style: none;
}

ul.product-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid grey;
    border-radius: 8px;
}

ul.product-list h4 {
    margin: 0;
}

ul.product-list span {
    font-size: 1rem;
}